<div class="wrapper">
  <div id="logo">
    <img src="/assets/images/CarrefourLogo.png" alt="Carrefour Logo" />
  </div>

  <div id="search">
    <input type="text" #searchInput (blur)="searchInput.value = ''">
  </div>
</div>
