#search {
	input {
		background-color: #F0F7FE;
		border: none;
		border-radius: 5px;
		padding: 1em;
		outline: none;
		background-image: url("/assets/images/searchIcon.png");
		background-repeat: no-repeat;
		background-position: right;
		background-origin: content-box;
		width: 20px;
		margin-left: 100%;
		cursor: pointer;
		-webkit-transition: width 0.4s, margin-left 0.4s;
		transition: width 0.4s, margin-left 0.4s;
	}

	input:focus {
		width: 100%;
		margin-left: 0;
		cursor: auto;
	}
}
@media all and (max-width:450px) {
	div.wrapper {
		justify-content: center;
	}
}