$lightGrey: #7F7F7F;
$darkBlue: #04549F;
$errorRed: #F98186;
$lightBlue: #cbe3fc;

.content {
	padding-top: 10px;
	padding-bottom: 50px;
}

form {
	max-width: 400px;
	margin: 0 auto;
	color: #565656;
	padding: 25px 0;
}

h1 {
	font-size: 24px;
	font-weight: 400;
	text-align: center;
}

h2 {
	font-size: 14px;
	font-weight: 400;
	margin-top: 0;
	color: $lightGrey;
	text-align: center;
}

.formField {
	padding: 10px;
	width: 80%;
	margin: 0 auto;

	label {
		float: left;
		animation-duration: 0.2s;
		font-style: italic;
	}

	.error-msg {
		float: right;
		background-color: #FFF0F1;
		padding: 5px 5px 0;
		font-size: smaller;
		color: $errorRed;
	}

	input[type=password],
	input[type=text] {
		clear: both;
		width: 88%;
		font-size: 14px;
	}
}

.formField.wrapper {
	font-size: smaller;
	color: $lightGrey;

	.point {
		color: #5082B9;
	}
}

.rounded {
	border-radius: 5px;
}

button {
	padding: 15px;
	background-color: $darkBlue;
	color: white;
	text-transform: uppercase;
	font-size: 20px;
	width: 100%;
	outline: none;
}

input[type=password],
input[type=text] {
	border: 1px solid #ccc;
	padding: 4% 6%;
	outline: none;

	&:focus {
		border-color: $darkBlue;
		-webkit-box-shadow: 0 0 3px 2px $lightBlue;
		-moz-box-shadow: 0 0 3px 2px $lightBlue;
		box-shadow: 0 0 3px 2px $lightBlue;
	}

	&.ng-invalid.ng-dirty {
		border-color: $errorRed;
		box-shadow: none;
	}
}

.hidden {
	visibility: hidden;
}

.wrapper {
	padding-top: 25px;
}
//Custom checkbox with some customizations. Source: https://www.w3schools.com/howto/howto_css_custom_checkbox.asp

.wrapper .container {
	display: block;
	position: relative;
	padding-left: 30px;
	padding-top: 5px;
	margin-top: -5px;
	cursor: pointer;
	font-style: normal;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
/* Hide the browser's default checkbox */
.container input {
	position: absolute;
	opacity: 0;
	cursor: pointer;
	height: 0;
	width: 0;
}
/* Create a custom checkbox */
.checkmark {
	position: absolute;
	top: 0;
	left: 0;
	height: 25px;
	width: 25px;
	background-color: #eee;
}
/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
	background-color: #ccc;
}
/* When the checkbox is checked, add a blue background */
.container input:checked ~ .checkmark {
	background-color: $darkBlue;
}
/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
	content: "";
	position: absolute;
	display: none;
}
/* Show the checkmark when checked */
.container input:checked ~ .checkmark:after {
	display: block;
}
/* Style the checkmark/indicator */
.container .checkmark:after {
	left: 9px;
	top: 5px;
	width: 5px;
	height: 10px;
	border: solid white;
	border-width: 0 3px 3px 0;
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
}