<div class="content">
  <form class="grey-border" #loginForm="ngForm" (ngSubmit)="submit()">
    <h1>Sign In Now</h1>
    <h2>Unlock Awesome Features!</h2>

    <div class="formField">
      <label for="username" *ngIf="username.value" class="animated slideInUp">Username</label>
      <div class="error-msg" [class.hidden]="username.valid || username.pristine">Required
        field</div>
      <input type="text" id="username" name="username" placeholder="Username"
          [(ngModel)]="body.username" class="rounded" #username="ngModel"
          required>
    </div>

    <div class="formField">
      <label for="password" *ngIf="password.value" class="animated slideInUp">Password</label>
      <div class="error-msg" [class.hidden]="password.valid || password.pristine">Required
        field</div>
      <input type="password" id="password" name="password" placeholder="Password"
          [(ngModel)]="body.password" class="rounded" #password="ngModel"
          required>
    </div>

    <div class="formField wrapper">
      <label class="container">
        Keep me logged in
        <input type="checkbox"><span class="checkmark"></span>
      </label>
      <div class="point">Forgot password?</div>
    </div>

    <div class="formField">
      <button type="submit" class="point rounded">Sign In</button>
    </div>

  </form>
</div>
