<div class="wrapper">
  <div *ngFor="let product of products">
    <img class="grey-border" src="/assets/images/BoxedCarrefourLogo.png"
        [attr.alt]="product.name + ' image'" />
    <p class="name">{{product.name}}</p>
    <p class="price">{{product.price}}</p>
  </div>
</div>
