/* You can add global styles to this file, and also import other style files */
body {
	margin: 0;
	font-family: sans-serif;
}

.content {
	max-width: 800px;
	margin: 0 auto;
}

.wrapper {
	@extend .content;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 2em 3em;
	flex-wrap: wrap;
}

#wrapper div {
	display: inline-block;
}

.grey-border {
	border: 3px solid #f4f4f4;
}

.point {
	cursor: pointer;
}